<configuration>
  <appSettings>
    <!-- Site Info -->
    <add key="SiteUrl" value="http://localhost:18562/"/>
    <add key="SiteTitle" value="doktorlar.net"/>
    <add key="SiteDescription" value="Portal açıklaması buraya yazılacak."/>
    <add key="SiteKeywords" value="portal,site,anahtar,kelime,baymyo,yazılım,harika"/>
    <!--Mail Info-->
    <add key="ContactName" value="baymyo.com"/>
    <add key="ContactMail" value="info@baymyo.com"/>
    <!--Mail Server-->
    <add key="smtpMail" value="noreply@baymyo.com"/>
    <add key="smtpPassword" value="12345cvp"/>
    <add key="smtpHost" value="smtp.gmail.com"/>
    <add key="smtpPort" value="587"/>
    <add key="smtpEnableSsl" value="1"/>
    <!--Directory Path-->
    <add key="VirtualPath" value="/"/>
    <add key="PanelPath" value="/panel/"/>
  </appSettings>
  <connectionStrings>
    <clear/>
    <add name="mssqlString" connectionString="Persist Security Info=True;Data Source=.;Initial Catalog=DoktorlarNet;User ID=sa;Password=1234" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <authentication mode="Forms">
      <forms name=".ASPXROLEBASED" cookieless="UseCookies" timeout="80" slidingExpiration="true" domain="" loginUrl="/?l=1" protection="All" path="/"/>
    </authentication>
    <sessionState mode="InProc" timeout="90"></sessionState>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="102401" requestLengthDiskThreshold="80" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="5000" enableKernelOutputCache="true" enableVersionHeader="true" requireRootedSaveAsPath="true" enable="true" shutdownTimeout="90" delayNotificationTimeout="5" waitChangeNotification="0" maxWaitChangeNotification="0" enableHeaderChecking="true" sendCacheControlHeader="true" apartmentThreading="false"/>
    <globalization culture="tr-TR" uiCulture="tr" fileEncoding="iso-8859-9" requestEncoding="iso-8859-9" responseEncoding="iso-8859-9"/>
    <pages enableViewStateMac="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <machineKey validationKey="17F5202F90096D6E77C2FFD13E8CDA68C164B6A6C78FF01F39CA649EB33F1574F8FEDF0A66EFF682BB29DBA832CB0E2BA94348D692EAF86487D4964ADA6E3CD7" decryptionKey="92963855CAC5517D17CAF8E93A342C1799B8E07A75EEF6B99EEA0253EA66F301" validation="SHA1" decryption="AES" />
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
