/*title-text formaters*/
.titleFormat1 { color: #669900; }
.titleFormat2 { color: #1a8594; }
.textFormat1 { color: #666666; }
.textFormat2 { color: #999999; }
.active-t { color: #669900 !important; margin-left: 2px; margin-right: 2px; }
.passive-t { color: #CC0000 !important; margin-left: 2px; margin-right: 2px; padding: 1px; }
/*message*/
.message-box, .error-box, .info-box, .success-box { padding: 1%; margin-bottom: 15px; width: 98%; display: inline-block; font-size: 12px; font-family: 'Century Gothic' , Arial; }
.message-box img, .error-box img, .info-box img, .success-box img { margin-right: 10px; border: 0px; float: left; display: block; }
.message-box { border: 1px solid #E8E800; background: #FFFF99 url(images/message-box-bg.png) repeat-x left top; color: #996633; }
.error-box { border: 1px solid #CA023E; background: #FF3366 url(images/message-box-bg.png) repeat-x left top; color: #FFFFFF; }
.info-box { border: 1px solid #66FFFF; background: #CCFFFF url(images/message-box-bg.png) repeat-x left top; color: #336699; }
.success-box { border: 1px solid #76AE00; background: #99CC00 url(images/message-box-bg.png) repeat-x left top; color: #336600; }
.error { padding: 1% 1% 1% 4%; margin-top: 2px; width: 95%; background: #FFBFD9 url(images/error.png) no-repeat 5px center; border: 1px solid #FF99FF; color: #CC0000; font-size: 9pt; font-weight: bold; display: block; }
/*middle-box customize-controls*/
.modul-main-box h1.mmb-Title { padding: 1%; margin-bottom: 10px; display: block; width: 98% !important; border: 1px solid #e0e1cf; background: #e8e9d9 url(images/mmb-title-bg.png) repeat-x; color: #747464; font-family: 'Century Gothic' ,Arial,Tahoma; }
.modul-main-box fieldset { -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -moz-border-radius-bottomright: 5px; -moz-border-radius-bottomleft: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; padding: 1em; background: #f5f5f5; border: 1px solid #e5e5e5; color: #666666; }
.modul-main-box legend { font-size: 12pt; font-family: 'Century Gothic'; font-style: italic; color: #C0C0C0; font-weight: bold; }
.modul-main-box .statusLabel { font-size: 9pt; }
.modul-main-box .button-set { padding-right: 2.5%; float: right; }
.modul-main-box .job-set { padding: 1%; width: 98%; display: inline-block; border: 1px solid #E6E6E6; vertical-align: middle; background-color: #F2F2F2; margin-bottom: 5px; }
.modul-main-box .job-set select { padding: 3px 4px 3px 4px; }
.modul-main-box .job-set select option { padding: 1px 1px 1px 1px; }
.modul-main-box, .modul-main-box .mmb-Row, .modul-main-box .mmb-T, .modul-main-box .mmb-S, .modul-main-box .mmb-C { margin: 0px; padding: 0px; display: block; }
.modul-main-box .mmb-Row { width: 100%; clear: both; text-align: left; }
.modul-main-box .mmb-T, .modul-main-box .mmb-S, .modul-main-box .mmb-C { padding: 1% 0.5% 1% 0.5%; float: left; font-family: Arial, Tahoma; font-size: 12px !important; color: #747464; }
.modul-main-box .mmb-T { width: 13%; }
.modul-main-box .mmb-S { width: 1%; }
.modul-main-box .mmb-C { width: 83%; }
.modul-main-box .mmb-C .description { margin-top: 5px !important; font-size: 8pt !important; color: #808080 !important; font-style: italic; }
/*controls*/
.modul-main-box .mmb-C select { padding: 5px; border: 1px solid #d8d8d8; color: #5f5c6e; font-weight: bold; }
.modul-main-box .mmb-C select option { padding: 2px; border-style: none none solid none; border-width: 1px; border-color: #CCCCCC; background: #ffffff; font-weight: normal; }
.modul-main-box .mmb-C textarea, .modul-main-box .mmb-C input[type="text"], .modul-main-box .mmb-C input[type="password"], .modul-main-box .mmb-C input[type="file"] { -moz-border-radius-topleft: 2px; -moz-border-radius-topright: 2px; -moz-border-radius-bottomright: 2px; -moz-border-radius-bottomleft: 2px; -webkit-border-top-left-radius: 2px; -webkit-border-top-right-radius: 2px; -webkit-border-bottom-right-radius: 2px; -webkit-border-bottom-left-radius: 2px; border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-right-radius: 2px; border-bottom-left-radius: 2px; padding: 1% !important; width: 98% !important; border: 1px solid #d5d6be; background: #f8f8f4 url(images/textarea-bg.png) repeat-x left top; color: #747464; display: block; }
.modul-main-box .buttonCss, .modul-main-box input[type="submit"], .modul-main-box input[type="button"] { padding: 5px 10px 5px 10px; margin-left: 10px !important; border: 1px solid #67AA24; background: #76c229 !important; color: #FFFFFF !important; font-size: 9pt; cursor: pointer; font-weight: bold; display: block; }
.modul-main-box input.removeButton { border: 1px solid #525252 !important; background: #7f7f7f !important; color: #FFFFFF !important; }
.modul-main-box .buttonCss, .modul-main-box input[type="submit"]:hover, .modul-main-box input[type="button"]:hover, .modul-main-box input.removeButton:hover { border: 1px solid #CCCCCC !important; background: #EAEAEA !important; color: #C0C0C0 !important; }
/*comments*/
#comment-top.job-set { border: 1px solid #e0e1cf; background: #e8e9d9 url(images/mmb-title-bg.png) repeat-x; color: #747464; display: block; }
#comment-top.job-set .icon { padding: 0 auto; margin-right: 5px; width: 16px; height: 16px; background: transparent url(images/comment.png) no-repeat 0px 0px; }
#comment .writeOpen { cursor: pointer; }
.comments, .comments .name, .comments .date, .comments .content { display: block; }
.comments .admin, .comments .moderator, .comments .editor, .comments .standart { display: block; padding: 1%; margin-bottom: 2px; width: 98%; font-size: 9pt; font-weight: bold; }
.comments .admin { border: 1px solid #FBBDEA; background: #F3B0D7 url(images/admin-bg.png) repeat-x; color: #A93F4D; }
.comments .moderator { border: 1px solid #A3E7FA; background: #90E1F3 url(images/moderator-bg.png) repeat-x; color: #0B92B9; }
.comments .editor { border: 1px solid #CDEA99; background: #CDEA99 url(images/editor-bg.png) repeat-x; color: #669900; }
.comments .standart { border: 1px solid #e0e1cf; background: #e8e9d9 url(images/mmb-title-bg.png) repeat-x; color: #747464; }
.comments .name { float: left; text-align: left; }
.comments .date { float: right; text-align: right; cursor: pointer; }
.comments .job { margin-left: 10px; float: right; text-align: right; cursor: pointer; }
.comments .job input[type="image"] { margin-left: 5px; }
.comments .content { padding: 1%; margin-bottom: 5px; width: 98%; border: 0px; color: #747464; font-size: 10pt; text-align: left; display: inline-block; }
.comments .content img { padding: 2px; border: 1px solid #E8E9D9; width: 40px; height: 50px; float: left; margin-right: 5px; display: block; }
/*single-data-list*/
ul.single-list, ul.single-list li { width: 100% !important; }
ul.single-list li { color: #8e8e83; padding-top: 10px; padding-bottom: 10px; border-bottom: 1px dashed #d9d9d9; }
ul.single-list li.first { padding-top: 0px; padding-bottom: 0px; border-bottom: 1px dashed #d9d9d9; }
ul.single-list li img.images, ul.single-list li div.images { padding: 2px; margin-left: 5px; margin-right: 10px; -moz-border-radius-topleft: 4px; -moz-border-radius-topright: 4px; -moz-border-radius-bottomright: 4px; -moz-border-radius-bottomleft: 4px; -webkit-border-top-left-radius: 4px; -webkit-border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; -webkit-border-bottom-left-radius: 4px; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px; background: #f5f5f5; border: 1px solid #a3d7e0; display: block; width: 58px; height: 50px; }
ul.single-list li .text, ul.single-list li .text .title, ul.single-list li .text .description, ul.single-list li .text .info { display: block; width: 560px; }
ul.single-list li .text .title, ul.single-list li .text .description { height: 14px !important; overflow: hidden; margin-bottom: 6px; }
ul.single-list li .text .title { height: 18px !important; margin-bottom: 3px !important; }
ul.single-list li .job img { padding: 0 auto; margin: 0 auto; margin-left: 2px; background: transparent; width: 16px; height: 16px; border: 0px; float: right; display: block; }
/*double-data-list*/
ul.double-list { width: 100% !important; }
ul.double-list li { width: 49% !important; font-family: Arial,Tahoma; }
ul.double-list li { padding-top: 0px; padding-bottom: 5px; margin-bottom: 5px; }
ul.double-list li img.images, ul.double-list li div.images { padding: 2px; margin-left: 0px; margin-right: 4px; background: #f5f5f5; border: 1px solid #a3d7e0; display: block; width: 86px; height: 80px; }
ul.double-list li .text, ul.double-list li .text .title, ul.double-list li .text .description, ul.double-list li .text .info { width: 225px !important; }
ul.double-list li .text .title, ul.double-list li .text .description { text-align: left; margin-bottom: 4px; }
ul.double-list li .text .title { font-size: 12px; height: 26px; overflow: hidden; }
ul.double-list li .text .description { font-size: 11px; height: 34px; overflow: hidden; }
ul.double-list li .text .info { font-weight: bold; font-size: 11px; height: 12px; overflow: hidden; padding-top: 3px; border-top: 1px dashed #d9d9d9; cursor: pointer; }
/*user-data-list*/
ul.users-list { width: 100% !important; }
ul.users-list li { width: 49% !important; font-family: Arial,Tahoma; }
ul.users-list li { padding-top: 5px; padding-bottom: 5px; margin-bottom: 5px; }
ul.users-list li img.images, ul.users-list li div.images { padding: 2px; margin-left: 0px; margin-right: 4px; background: #f5f5f5; border: 1px solid #a3d7e0; display: block; width: 86px; height: 80px; }
ul.users-list li .text .title, ul.users-list li .text .info { font-size: 12px; overflow: hidden; display:block; }
ul.users-list li .text .title, ul.users-list li .text .info { height: 16px !important; margin-bottom: 5px; }
ul.users-list li .text .job { margin-top:5px; height: 44px; overflow: hidden; display:block; }
/*album-data-list*/
ul.album-list { width: 100% !important; display: block }
ul.album-list li { margin: 5px 8px 0px 8px; color: #17a6bb; float:left }
ul.album-list li, ul.album-list img, ul.album-list h1 { width: 134px !important; display: block; }
ul.album-list img { padding: 1px; border: 1px solid #17a6bb; background: #f5f5f5; height: 91px !important;}
ul.album-list h1 { margin-top: 5px; height: 13.5px; font-size: 9pt; overflow: hidden; text-align: center; }
/*clear/left/right*/
.clear { clear: both; display: block; }
.left { float: left; display: block; }
.right { float: right; display: block; }
